
/* *{
    border: 1px solid red;
}  */

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #171718;
    color: white;
    padding: 20px 0px;
    font-size: 30px;
    border-bottom: 1px solid white;
}

.headear {
    background-color: transparent;
    height: 1000px;
    align-items: center !important;
    display: flex;
    justify-content: center;
}

.teck-logo {
    width: 25px;
    height: 25x;
    margin-right: 2px;
}

.teck-logo {
    width: 22px;
    height: 22px;
    margin-right: 4px;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.list-group-item {
    background-color: white;
    font-size: 20px;
    padding: 25px;
    margin: 15px;
    border-radius: 25px;
}


#bg-canvas {
    background: #171718;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-link {
    color: white !important;
}

.nav-item {
    font-size: 22px;
}

.nav-link:hover {
    color: #ccc !important;
}

